		/* Colores de nuestra paleta */
		:root {
			--bs-primary: #881536;
			--bs-secondary: #DA835E;
			--bs-primary-rgb: 136, 21, 54;
		}

		.bg-primary {
			background-color: var(--bs-primary) !important;
		}

		.bg-secondary {
			background-color: var(--bs-secondary) !important;
		}

		/* Fuentes de letras */
		body {
			font-family: "Dosis", sans-serif;
			font-optical-sizing: auto;
			font-weight: 500;
			font-style: normal;
		}

		footer {
			font-family: "PT Serif", serif;
			font-weight: 400;
			font-style: normal;
		}

		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			font-family: "PT Serif", serif;
			font-weight: 700;
			font-style: normal;
		}

		/* Fondo de la página */
		.bg-cont-image {
			background-image: url('../assets/img/img_decoracion_pagina/fondo_andaluz.jpg');
			/* ajusta la ruta */
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
			background-attachment: fixed;
		}

		/* Valores para el scrollspy de la pagina del menu */
		/* Es para que el scrollspy se quede pegado en la parte superior */
		.sticky-scrollspy {
			top: 0px;
			align-self: flex-start;
		}

		/* Estilo para el elemento activo del Scrollspy*/
		.nav-link.active {
			background-color: var(--bs-primary) !important;
		}

		/* Estilo para el efecto hover (Fondo: #881536 con opacidad) */
		.nav-link:hover {
			background-color: rgba(var(--bs-primary-rgb), 0.7) !important;
		}