		/* Colores de nuestra paleta */
		:root {
			--bs-primary: #881536;
			--bs-secondary: #DA835E;
			--bs-primary-rgb: 136, 21, 54;
		}

		.bg-primary {
			background-color: var(--bs-primary) !important;
		}

		.bg-secondary {
			background-color: var(--bs-secondary) !important;
		}

		/* Fuentes de letras */
		body {
			font-family: "Dosis", sans-serif;
			font-optical-sizing: auto;
			font-weight: 500;
			font-style: normal;
		}

		form {
			font-family: "PT Serif", serif;
			font-weight: 400;
			font-style: normal;
		}

		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			font-family: "PT Serif", serif;
			font-weight: 700;
			font-style: normal;
		}